{sub_dirs,[
           ]}.
{erl_opts, [debug_info,fail_on_warning,{d,debug},{d,timestamp},{d,newdebug}]}.

{deps,[ 
    {newdebug,".*",{hg,"https://bitbucket.org/volatile/newdebug","tip"}},
    {erlando,".*",{git,"https://github.com/stobix/erlando","master"}}
    ]}.

{require_otp_vsn, "R14|R15|R16|17|18|19|20|21|22|23"}.


